body {
    background-color: black;
}

.square {
    width: 20px;
    height: 20px;
    background-color: red;
    position: fixed;
    left: 50%;
    top: 50%;
    transition: top 1s ease-out;
}

#square-1 {
    margin-left: -20px;
    margin-top: -20px;
}

#square-3 {
    margin-top: -20px;
}

#square-4 {
    margin-left: -20px;
}

input[type="checkbox"]:checked ~ #square-1 {
    margin: 0;
    left: 0;
    top: 99%;
}

input[type='checkbox']:checked ~ #square-2 {
    margin: 0;
    left: 99%;
    top: 99%;
}

input[type='checkbox']:checked ~ #square-3 {
    top: 0;
    left: 99%;
    margin: 0;
}

input[type='checkbox']:checked ~ #square-4 {
    left: 0;
    top: 0;
    margin: 0;
}

label {
    left: 48%;
    color: white;
    cursor: pointer;
    position: fixed;
}
#check {
    display: none;
}